@import "tailwind";
@import "~instantsearch.js/dist/instantsearch.min.css";
@import "~instantsearch.js/dist/instantsearch-theme-algolia.min.css";

html {
    font-size: 20px;
}

@media (max-width: 577px) {
    #menu-toggle:checked ~ #menu,
    #menu-toggle:checked ~ #search {
        display: none;
    }
}

#user-toggle:checked + #user-menu {
    display: none;
}
